<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/skopio.css">
    <link rel="stylesheet" href="/assets/css/ui-components.css">
    <script src="//unpkg.com/alpinejs" defer></script>
    <title>Dashboard</title>
</head>

<body>
    <div class="container">
        <nav class="header">
            <div class="content header-content">
                <div class="logo">Logo</div>
                <div class="menu">
                    <ul>
                        <li>
                            <a href="/">
                                <ion-icon name="speedometer-outline"></ion-icon>
                            </a>
                        </li>
                        <li>
                            <a href="/client/new">
                                <ion-icon name="add-outline"></ion-icon>
                            </a>
                        </li>
                        <li>
                            <a href="/inbox">
                                <ion-icon name="mail-outline"></ion-icon>
                            </a>
                        </li>
                        <li>
                            <a href="/user/new">
                                <ion-icon name="person-outline"></ion-icon>
                            </a>
                        </li>
                        <li>
                            <a href="/tasks">
                                <ion-icon name="calendar-outline"></ion-icon>
                            </a>
                        </li>
                        <li>
                            <a href="/settings">
                                <ion-icon name="settings-outline"></ion-icon>
                            </a>
                        </li>
                        <li>
                            <ion-icon name="search-outline"></ion-icon>
                        </li>
                    </ul>
                </div>
                <div class="user">{{username}}
                    <a href="/logout">logout</a> </div>
            </div>
        </nav>
        <main class="main">
            <div class="content main-content">
                {% block content %} {% endblock %}
            </div>
        </main>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>