<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/skopio-dark.css">
    <link rel="stylesheet" href="/assets/css/skopio.css">
    <link rel="stylesheet" href="/assets/css/ui-components.css">
    <!-- jquery cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/assets/js/skopio-ui.js"></script>
    <!-- -->
    <script src="//unpkg.com/alpinejs" defer></script>
    <title>Dashboard</title>
</head>

<body>
    <div class="container">
        <nav class="header">
            <div class="content header-content">
                <a href="/"><div class="logo"><img src="/assets/img/logo.svg" alt="logo" width="30%" height="30%">
                    <li><span>Skopio</span></li>
                </div></a>
                <div class="menu">
                    <ul>
                        <li>
                            <a href="/client/new">
                                <ion-icon name="person-outline"></ion-icon><span class="hidden-menu">client</span>
                            </a>
                        </li>
                        <li>
                            <a href="/inbox">
                                <ion-icon name="mail-outline"></ion-icon> <span class="hidden-menu">mail</span>
                            </a>
                        </li>
                        <li>
                            <a href="/user">
                               <ion-icon name="people-outline"></ion-icon> <span class="hidden-menu">users</span>
                            </a>
                        </li>
                        <li>
                            <a href="/tasks">
                                <ion-icon name="calendar-outline"></ion-icon> <span class="hidden-menu">tasks</span>
                            </a>
                        </li>
                        <li>
                            <a href="/status">
                                <ion-icon name="server-outline"></ion-icon> <span class="hidden-menu">s&s</span>
                            </a>
                        </li>
                        <li>
                        <a href="/wallet">
                            <ion-icon name="wallet-outline"></ion-icon> <span class="hidden-menu">wallet</span>
                        </a>
                        </li>
                        <li>
                            <a href="">
                            <ion-icon name="search-outline"></ion-icon> <span class="hidden-menu">find</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="user">
                    <ul>
                        <li class="avatar"></li>
                        <li>
                            <a href="/logout">
                                <ion-icon name="log-out-outline"></ion-icon> logout
                            </a>
                        </li>
                    </ul>
                </div>
        </nav>
        <main class="main">
            <div class="content main-content">
                {% block content %} {% endblock %}
            </div>
        </main>
        </div>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>