{% extends 'dashboard/base.html.twig' %} {% block content %}
<div class="divider">
    <ion-icon name="mail-outline"></ion-icon> skopiomail / 1 unread message</div>
<div class="inbox-wrapper">
    <div class="inbox-sidebar">
        <li>
            <ion-icon name="pencil"></ion-icon> compose</li>
        <li>
            <ion-icon name="folder-open-outline"></ion-icon> draft </li>
        <li>
            <ion-icon name="folder-outline"></ion-icon> archived</li>
        <li>
            <ion-icon name="pricetags-outline"></ion-icon> tags
        </li>
        <li>
            <ion-icon name="heart-outline"></ion-icon> favs</li>
        <li>
            <ion-icon name="trash-bin-outline"></ion-icon>bin</li>
        <li>
            <ion-icon name="settings-outline"></ion-icon> settings</li>
    </div>
    <div class="inbox-content">
        <div class="inbox-main-content">
            <div class="inbox-mail-wrapper">
                <div class="check"><input type="checkbox"></div>
                <div class="icon">
                    <ion-icon name="mail-open-outline"></ion-icon>
                </div>
                <div class="mail-title"><strong>read title mail</strong></div>
                <div class="mail-sendfrom">
                    some@emai.com</div>
                <div class="datetime">10:24</div>
            </div>
            <div class="inbox-mail-wrapper mail-unread">
                <div class="check"><input type="checkbox"></div>
                <div class="icon">
                    <ion-icon name="mail-unread-outline"></ion-icon>
                </div>
                <div class="mail-title"><strong>unread title mail</strong></div>
                <div class="mail-sendfrom">some@emai.com</div>
                <div class="datetime">10:44</div>
            </div>
        </div>
    </div>

</div>
{% endblock %}