{% extends 'dashboard/base.html.twig' %} {% block content %}
<div class="divider">
    <ion-icon name="mail-outline"></ion-icon> skopiomail</div>
<div class="inbox-wrapper">
    <div class="inbox-sidebar">
        <li>
            <ion-icon name="open-outline"></ion-icon> compose</li>
        <li>
            <ion-icon name="folder-open-outline"></ion-icon> draft </li>
        <li>
            <ion-icon name="folder-outline"></ion-icon> archived</li>
        <li>
            <ion-icon name="pricetags-outline"></ion-icon> tags
        </li>
        <li>
            <ion-icon name="heart-outline"></ion-icon> favs</li>
        <li>
            <ion-icon name="trash-bin-outline"></ion-icon>bin</li>
        <li>
            <ion-icon name="settings-outline"></ion-icon> settings</li>
    </div>
    <div class="inbox-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, beatae! Ad molestias aut minima, aliquid maiores deserunt veritatis saepe enim eius consequuntur impedit quisquam laudantium, unde quas nulla totam cumque?</div>

</div>
{% endblock %}