/** Google Fonts **/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/** Root **/

:root {
    --primary-color: #5955ff;
    --danger-color: #ffcece;
    --info-color: #c6e0ff;
    --success-color: #d4edda;
    --warning-color: #fff3cd;
}

.white-bg {
    background-color: white;
}


/** Reset **/

html,
body {
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size: .9rem;
    text-transform: lowercase;
    font-weight: normal;
    color: var(--primary-color);
    line-height: 1.4rem;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

small {
    font-weight: lighter;
    font-size: .9rem;
}


/** Links **/

a:link,
a:hover,
a:active,
a:visited {
    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}


/** Content **/

.container {
    display: grid;
    /* grid-template-rows: 80px 1fr; */
    margin: auto;
    /* align-items: center; */
}

.content {
    max-width: 1280px;
    /* padding: 15px; */
    margin: auto;
}


/** Templates **/

.divider {
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
}

.divider ion-icon {
    font-size: 28px;
    margin-right: 7px;
}

.row {
    margin-bottom: 15px;
    margin-top: 15px;
}

.tp-1,
.tp-2,
.tp-3,
.tp-4 {
    display: grid;
    gap: 15px
}

.tp-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 260px;
}

.tp-2 {
    grid-template-columns: 2.5fr 2.5fr;
    grid-template-rows: 320px;
}

.tp-3 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-rows: 260px;
    row-gap: 40px;
}

.tp-4 {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 130px;
}


/** Header */

.header {
    background-color: rgb(255 255 255);
    /* padding-top: 15px; */
    /* padding-bottom: 15px; */
}

.main,
body {
    background-color: #f4f7fc;
}

.header-content {
    display: grid;
    grid-template-columns: 140px 1fr 170px;
    align-items: center;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ion-icon,
.page-title ion-icon,
.user ion-icon {
    display: flex;
    justify-items: center;
    font-size: 24px;
    align-items: center;
    justify-content: center;
}

.logo,
.menu ul,
.menu li,
.user {
    display: flex;
    font-size: .9rem;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.menu li:hover {
    opacity: .5;
    cursor: pointer;
}

.hidden-menu {
    display: none;
    transition: all .10s ease-in-out;
}

.show-menu {
    display: flex;
    transition: all .10s ease-in-out;
}

.logo {
    justify-content: flex-start !important;
    gap: 7px !important;
}

.user,
.user li,
.user ul {
    display: flex;
    gap: 11px !important;
    justify-content: center;
    align-items: center;
}

.avatar {
    border-radius: 100%;
    border: solid 1px var(--primary-color);
    width: 30px;
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/** Login Page */

.login-wrapper {
    height: 100vh;
    width: 100vw;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 30px;
}

.login-welcome {
    height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #ffffff;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    justify-content: center;
}

.filter {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: rgba(59, 43, 80, 0);
}

.login-wrapper ion-icon {
    display: flex;
    font-size: 72px;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.login-box {
    display: grid;
    max-width: 480px;
    margin: auto;
    grid-template-rows: 1fr 2fr .3fr;
    padding: 30px;
    gap: 15px
}

.form-group button ion-icon,
button ion-icon {
    font-size: 24px;
}

.form-group button,
button {
    background-color: #5955ff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.login-box .title {
    font-size: 1.2rem;
}


/** Inbox **/

.mail-unread {
    background-color: hsl(0deg 0% 80% / 25%);
}

.inbox-mail-wrapper {
    display: grid;
    grid-template-columns: 20px 40px 1fr 1fr 60px;
    gap: 15px;
    padding: 15px;
    border-radius: 7px;
    margin-bottom: 15px;
    cursor: pointer;
}

.inbox-mail-wrapper:hover {
    opacity: .8;
}

.inbox-mail-wrapper ion-icon {
    display: flex;
    font-size: 24px;
    margin-right: 10px;
}

.inbox-mail-wrapper li {
    display: flex;
    align-items: center;
}

.inbox-mail-wrapper ul {
    background-color: white;
    padding: 15px;
    border-radius: 7px;
    margin-bottom: 15px;
}

.inbox-content {
    display: grid;
    grid-template-rows: 1fr;
    gap: 15px
}

.inbox-sidebar {
    border-right: solid 1px var(--primary-color);
}

.inbox-sidebar li {
    display: flex;
    margin-bottom: 25px;
}

.inbox-sidebar li:hover {
    cursor: pointer;
    opacity: .5;
}

.inbox-sidebar ion-icon {
    display: flex;
    font-size: 24px;
    margin-right: 10px;
}

.inbox-wrapper {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 40px;
    height: calc(100vh - 320px);
}


/** Dashboard Pages **/

.cards {}

.page-title {
    display: flex;
    margin-bottom: 60px;
}

.page-title ion-icon {
    margin-right: 7px;
}


/** Dashboard Pages : User **/

.users-list {
    margin-bottom: 5px;
    display: flex;
    gap: 40px;
    align-items: center;
    padding-bottom: 15px;
}

.users-list ion-icon {
    font-size: 1.2rem;
    cursor: pointer;
    margin-right: 15px;
}

.users-list ion-icon:hover {
    opacity: .5;
}

.cards ul {
    display: grid;
    grid-template-columns: 160px 1fr 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    gap: 7px
}