/** Header */

.header {
    background-color: #1a142f;
    padding-top: 15px;
    padding-bottom: 15px;
}


/** Main **/

.main,
body {
    background-color: #140f26;
}

.card {
    background-color: #1a142f;
}