    /** Form **/
    
     ::placeholder {
        color: #a5a4f3;
        font-weight: normal;
    }
    
    .form-group {
        margin-bottom: 15px;
    }
    
    .form-group input[type="text"],
    .form-group input[type="password"],
    .form-group input[type="textarea"],
    .form-group input[type="email"] {
        font-family: 'Roboto Mono', monospace;
        color: #5955ff;
        outline: none;
        border: none;
        border-bottom: solid 3px #5955ff;
        padding: 7px;
        margin: auto;
        margin-bottom: 7px;
        margin-top: 7px;
        width: 98%;
        background-color: transparent;
        /* border-radius: 3px; */
    }
    
    .form-group button,
    .slim-btn {
        outline: none;
        border: none;
        font-family: 'Roboto Mono', monospace;
        padding: 7px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    
    .slim-btn {
        width: auto !important;
    }
    
    .form-group button ion-icon {
        padding: 0;
        margin: 0
    }
    
    .form-group button:hover {
        opacity: .7;
    }
    /* Cards */
    
    .card {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 15px 5px -10px rgb(0 0 0 / 10%);
        display: grid;
        grid-template-rows: .1fr 3fr .1fr;
        gap: 5px;
    }
    
    .card ion-icon {
        font-size: 22px;
        display: flex;
    }
    
    .card-title {
        font-size: .9rem;
        font-weight: bolder;
        display: flex;
        align-items: center;
        align-content: center;
        gap: 5px;
        flex-direction: row;
    }
    
    .card-body {
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: lighter !important;
    }
    
    .card-footer ion-icon {
        cursor: pointer;
        transition: all .2s ease-in-out;
    }
    
    .card-footer ion-icon:hover {
        opacity: .5;
        transition: all .2s ease-in-out;
    }
    /** badges **/
    
    .badge {
        align-items: center;
        border: solid 1px var(--primary-color);
        color: var(--primary-color);
        padding: 5px;
        font-size: .7rem;
    }