<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/assets/css/skopio.css">
    <link rel="stylesheet" href="/assets/css/ui-components.css">

</head>

<body>
    <div class="login-wrapper">
        <div class="login-welcome">
            <div class="filter"></div>
        </div>
        <div class="login-content">
            <div class="login-box">
                <div class="title">skopio / login</div>
                <form class="form-group" action="/login" method="post">
                    <label for="username">username:</label>
                    <input name="username" type="text">
                    <p></p>
                    <label for="passcode">passcode:</label>
                    <input name="password" type="password">
                    <p></p>
                    <button type="submit">login <ion-icon name="chevron-forward-outline"></ion-icon></button>
                </form>
                <div class="footer"></div>
            </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>